.appstore
{
    max-width: 1280px;
    margin: 0 auto;
}

.appstore .btn-group
{
    width: 100%;
    margin-top: 15px;
}
    .appstore .btn-group .btn
    {
        width: 50%;
    }

    .appstore h2.feature-title
    {
        margin-bottom: 30px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
    }

.app-major,
.app-minor
{
    padding: 10px;
    margin-bottom: 50px;
    background-color: #f8f8f8;
    border: 1px solid #e1e1e1;
}
    .app-major img,
    .app-minor img
    {
        max-width: 100%;
        margin-bottom: 10px;
    }
.app-major img,
.app-minor img,
.app-small img
{
    background-color: #f3f3f3;
    padding: 5px;
    border: 1px solid #cccccc;
}
.app-major h3,
.app-minor h3
{
    margin: 10px 0 0 0;
}
.app-price
    {
        background-color: #E6E6E6;
        padding: 5px 10px;
        margin-top: -5px;
        border-radius: 5px;
    }
    .app-minor h3
    {
        text-align: center;
    }
    .app-minor .app-price
    {
        text-align: center;
        margin: 5px auto;
    }

    .app-minor p.app-includes
    {
        text-align: center;
    }
    .app-small button.btn.btn-lg,
    .app-minor button.btn.btn-lg
    {
        width: 100%;
        margin-top: 10px;
    }

.app-small
{
    padding: 8px;
    margin-bottom: 30px;
    background-color: #f8f8f8;
    border: 1px solid #e1e1e1;
}
    .app-small p,
    .app-small h3
    {
        margin: 0;
    }
    .app-small p
    {
        line-height: 1.2em;
    }
        .app-small p.learnmore-sm
        {
            margin-top: 10px;
            font-size: 14px;
        }

.app-desc
{
    height: 90px;
}

.carousel
{
    margin-bottom: 20px;
}

/* --  Installed Ribbon -- */
.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 200;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #fff;
  background-color: #4cae4c;  
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;  
}
.app-small .ribbon-wrapper-green {
  left: 15px;
}

.app-small .ribbon-green {
  -webkit-transform: rotate(-45deg);
  -moz-transform:    rotate(-45deg);
  -ms-transform:     rotate(-45deg);
  -o-transform:      rotate(-45deg);
  right: 28px; 
  left: auto;
  letter-spacing: 1px;
}
